* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: black;
}

header {
    display: flex;
    height: 64px;
    /* background-color: peru; */

    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

header #logo {}

header img {
    height: 150px;
    cursor: pointer;

}

nav {
    display: flex;

    gap: 20px;

}

nav a {
    color: white;
    text-decoration: none;
    position: relative;

}

nav a::before {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #8FC450;
    position: absolute;
    bottom: -4px;

    transition: width 0.3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

header button {
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;

    position: relative;
    z-index: 1;
    overflow: hidden;
    border: none;

    transition: all 0.3s ease-in-out;
}

header button::before {
    content: '';
    height: 100%;
    width: 0%;
    background-color: #8FC450;
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;

    transition: width 0.3s ease-in-out;

}

button:hover::before {
    width: 100%;
}

button:hover {
    color: white;
}


#hero {
    background-color: peru;
    /* height:calc(100vh - 64px); */
}


/* about section styling*/

.about-wrapper {
    background-color: #0A1218;
    /* background-color: yellow; */
    padding: 40px 20px;

    max-width: 1400px;

    margin: 0px auto;

    color: white;


    display: flex;


}


.about-wrapper .right h3 {
    font-size: 24px;
    color: #8FC450;

}

#about{
    background-color: #0A1218;
}

.about-wrapper .right h2 {
    font-size: 34px;
    max-width: 400px;
    line-height: 30px;

    margin-top: 16px;
}

.about-wrapper .para {
    max-width: 500px;

    margin-top: 16px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.555);
}



.about-wrapper .left {
    height: 400px;
    width: 50%;
}

.about-wrapper .left img {
    height: 100%;
    width: 600px;

    border-radius: 10px;
}


.about-status{
    display: flex;
    margin-top: 20px;

    gap: 20px;
}

.about-card{

    display: flex;
    align-items: center;
    gap: 20px;

}

.about-card span{
    background-color: #121D18;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    color: #8FC450;
    border-radius: 10px;
}



/* Skills section styling */

#skills{

}

.skills-wrapper{
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    max-width: 1400px;
    
    margin: 10px auto;
    

}

.skills-wrapper .left{

}



.skills-wrapper .left .skill, .skills-wrapper .right .skill{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.left .skill img,.right .skill img{
    height: 40px;
}


.skill-status{
    height: 10px;
    border-radius: 20px;
    width: 400px;
    background-color: #0A1218;

    position: relative;
    overflow: hidden;
}

.skill-status::before{
    content: '';
    height: 100%;
    width: 90%;
    background-color: #8FC450;

    position: absolute;
    border-radius: 20px;
}








/* project section styling */

#projects {
    height: 100vh;
    background-color: #0A1117;
    color: white;

    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

#projects .sub-heading {
    margin-top: 30px;
    text-transform: uppercase;
    color: #8FC450;
    font: bolder;
}

#projects h2 {
    margin-top: 10px;
    font-size: 30px;
    font: bold;

    position: relative;
}

h2::before {
    content: '';
    height: 3px;
    width: 30%;
    background-color: #8FC450;
    position: absolute;

    bottom: -6px;
    left: 50%;

    transform: translateX(-50%);
}



.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    margin-top: 4%;
}

.card {

    height: 360px;
    width: 350px;
    /* background-color: purple; */
    border: 2px solid #8FC450;

    border-radius: 10px;
    overflow: hidden;

}

.card .top {
    height: 50%;
    /* background-color: yellowgreen; */
}

.card .top img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.card .bottom {
    height: 50%;

    padding: 20px;
}

.card .bottom h3 {
    font-size: 30px;
}

.card .bottom p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.76);
}

.card .bottom #card-link {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
}

.card .bottom #card-link i {
    color: #8FC450;

    transition: all 0.3s ease-in-out;
}

#card-link::before {
    content: '';
    height: 2.5px;
    width: 0%;
    background-color: #8FC450;
    position: absolute;

    bottom: -5px;
    transition: all 0.3s ease-in-out;
}

#card-link:hover::before {
    width: 80%;
}


#card-link:hover i {
    transform: rotate(-45deg);
}



/* Footer Styling */

footer {
    padding: 1px;
    position: relative;
}

.footer-wrapper {
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1400px;

    margin: 0 auto;
    gap: 10px;

    margin-bottom: 100px;


}

#footer-logo {
    height: 150px;

}

#footer-logo img {
    height: 100%;
    /* width: 100%; */
}

#col1 {}

#col1 p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.571);
    max-width: 200px;
    margin-bottom: 20px;
}

#col1 span {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 25px;
}

#col1 span i {
    cursor: pointer;
}


.footer-wrapper .col {
    height: 200px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px 0px;
}

.col h2 {
    color: #8FC450;
}

.footer-wrapper .col ul {
    list-style: none;
    margin-top: 10px;
}

.col ul a {
    color: white;
    text-decoration: none;

}


.footer-underline {
    height: 2px;
    width: 90%;
    background-color: #8FC450;
    position: absolute;

    top: 80%;
    left: 50%;

    transform: translate(-50%);
}

.footer-bottom {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 90%;
    margin: 0px auto;
}

.footer-bottom .right {
    display: flex;
    gap: 20px;
}